# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

In [2]:
def even_or_odd(number):
    if number % 2 == 0:
        return('even')
    else:
        return('odd')
even_or_odd(53)

'odd'

### For Loops

##### Using 'in' keyword

In [11]:
#for loops will "loop" over iterables (lsts, sets, dictionarys, strings)

# for (keyword), counter (variable to count items), in (keyword), condition (iterable)

# for i in range(11):
#     print(i)

name = "Dominic Fiorelli"

# for letter in name:
#     print(letter)

for i in range(len(name)):
    print(name[i])

D
o
m
i
n
i
c

F
i
o
r
e
l
l
i

In [4]:
# see above

##### Continue Statement

In [12]:
# will continue to next iteration
for i in range(20):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

##### Break Statement

In [13]:
# will break out of current loop
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [14]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass #TODO: come back and finish this!!

IndentationError: expected an indented block (15699164.py, line 2)

##### Double For Loops

In [15]:
for i in range(5):
    for j in range(5):
        print(f"i = {i} | j = {j}")

i = 0 | j = 0
i = 0 | j = 1
i = 0 | j = 2
i = 0 | j = 3
i = 0 | j = 4
i = 1 | j = 0
i = 1 | j = 1
i = 1 | j = 2
i = 1 | j = 3
i = 1 | j = 4
i = 2 | j = 0
i = 2 | j = 1
i = 2 | j = 2
i = 2 | j = 3
i = 2 | j = 4
i = 3 | j = 0
i = 3 | j = 1
i = 3 | j = 2
i = 3 | j = 3
i = 3 | j = 4
i = 4 | j = 0
i = 4 | j = 1
i = 4 | j = 2
i = 4 | j = 3
i = 4 | j = 4

### While Loops

In [16]:
#while (keyword), condition statement
#while loop continues as long as condition is true

num = 0

while num < 10:
    print(num)
    num += 1

##### looping 'While True'

In [20]:
game_over = False # this is a flag

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [21]:
num = 0

while num < 5:
    print("\nWhile loop Iteration", str(num))

    for i in range(2):
        print("for loop iteration.", str(i))

        num += 1

While loop Iteration 0
for loop iteration. 0
for loop iteration. 1

While loop Iteration 2
for loop iteration. 0
for loop iteration. 1

While loop Iteration 4
for loop iteration. 0
for loop iteration. 1

##### The Range Function

In [23]:
for i in range(2,20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

### String Manipulation Exercise

In [25]:
#Loop through this name list and print out each name with a capital letter in the front
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for i in names:
    print(i.title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [26]:
l_1 = [ ] #empty list declaration

names = ["Tommy","Jason",'Kimberly', 'Zach', 'Trini', 'Billy']
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']

##### Indexing a List
#### (Slicing a list)

In [31]:
#[start : stop : step] -- [-1] * end of a list

#single index
print(names[0])

#starting at indes 1 and going through the end
print(names[1: ])

#start at the front and end at n (n == the number you want to stop at)
print(names[:3])

# start at 1, go to the end, count by 2
print(names[1: :2])

#reverse the list
print(names[::-1])

Tommy
['Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']
['Tommy', 'Jason', 'Kimberly']
['Jason', 'Zach', 'Billy']
['Billy', 'Trini', 'Zach', 'Kimberly', 'Jason', 'Tommy']

### List Methods

##### .append()

In [35]:
names.append('Dominic')
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zach', 'Trini', 'Billy', 'Dominic', 'Dominic']

##### .insert()

In [38]:
names.insert(2, 'Ryan2')
print(names)

['Tommy', 'Jason', 'Ryan2', 'Ryan', 'Kimberly', 'Zach', 'Trini', 'Billy', 'Dominic', 'Dominic']

##### .pop()

In [41]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
# extra_ryan = names.pop(2)
# print(extra_ryan)
names.pop()
print(names)

['Tommy', 'Jason', 'Ryan', 'Kimberly', 'Zach', 'Trini', 'Billy', 'Dominic']

##### .remove()

In [45]:
names.index('Zach')

3

In [44]:
# value to be removed, not an index
while "Ryan" in names:
    names.remove('Ryan')
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']

### Working With Lists

##### del()

In [46]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

['Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']

##### min()

In [47]:
numbers = [3,6,0,30,-12,100]
print(min(numbers))

-12

##### max()

In [48]:
print(max(numbers))

100

##### sum()

In [49]:
print(sum(numbers))

127

##### sorted()

In [52]:
print(numbers)

sorted_numbers = (sorted(numbers))
print(f"Sorted Numbers: {sorted_numbers}")

[3, 6, 0, 30, -12, 100]
Sorted Numbers: [-12, 0, 3, 6, 30, 100]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [56]:
#list.sort()
print(f"numbers before sort: {numbers}")
print("sorted (numbers): ",sorted(numbers))
print("numbers.sort()",numbers.sort())
print(f"numbers after .sort(): {numbers}")

numbers before sort: [3, 6, 0, 30, -12, 100]
sorted (numbers):  [-12, 0, 3, 6, 30, 100]
numbers.sort() None
numbersafter .sort(): [-12, 0, 3, 6, 30, 100]

In [58]:
# Sorting by absolute value
def absolute(value):
    return abs(value)

numbers.sort(key=absolute)
print(numbers)

[0, 3, 6, -12, 30, 100]

##### Copying a List

In [60]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)
print(numbers)

[0, 3, 6, -12, 30, 100]
[0, 3, 6, -12, 30, 100]

##### Looping Through Lists

In [65]:
# Two ways to loop through lists,
# list: with in keyword -- for item in list
# 2nd: by index -- for i in (range(len(list)))

# 1st
for name in names:
    print(name)
print("\n")
#2nd
for i in range(len(names)):
    print(names[i])

Jason
Kimberly
Zach
Trini
Billy


Jason
Kimberly
Zach
Trini
Billy

In [69]:
# way 3 to loop grabbing both the index and the value
# for index, value in enumerate(list)

for indie, name in enumerate(names):
    print(f"The index is {indie} and the name is {name}")

The index is 0 and the name is Jason
The index is 1 and the name is Kimberly
The index is 2 and the name is Zach
The index is 3 and the name is Trini
The index is 4 and the name is Billy

In [ ]:
#Which methods need an index value??
.pop()
.insert()
del()
slicing

##### 'in' keyword

In [ ]:
ct_teachers = ["Joel", "Derek", "Sam", 'Nate', 'Kevin']

if "Sam" in ct_teachers:
    print("Sam is indeed a teacher")
else:
    print("No Sam here...")

In [73]:
ct_teachers = ["Joel", "Derek", "Sam", 'Nate', 'Kevin']
for name in ct_teachers:
    if name[0] == 'N':
        print("found",name)
    else:
        print("not found")

not found
not found
not found
found Nate
not found

##### 'not in' keyword

In [74]:
ct_teachers = ["Joel", "Derek", "Sam", 'Nate', 'Kevin']
if "Tommy" not in ct_teachers:
    print("no tommy here")

no tommy here

##### Checking an Empty List

In [78]:
l_2 = []

if l_2 == []:
    print("Empty")

if l_2:
    print("we have list values")
else:
    print('empty list')

Empty
empty list

##### Removing Instances with a Loop

In [79]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [102]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
names2 = []

for name in names:
    if name not in names2:
        names2.append(name)
print(names2)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [108]:
# number comprehension

# With regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)

print('\n')

# with list comprehension

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [109]:
# square number comprehension
squares = [x*x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
# create a list of first letters from the list of names given

names = ['Peter','Piper','Penny', 'Bob', 'Sally']
letters = [name[0] for name in names]
print(letters)


#expected output: ['P','P','P','B','S']

['P', 'P', 'P', 'B', 'S']

In [114]:
cap_names = [name[0] for name in names if name[0] == 'P']
print(cap_names)

['P', 'P', 'P']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [120]:
# dir(tuple(cap_names))
tup_1 = 1,2,3 # 1st way to creat a tuple
tup_2 = (1,2,3)

print(type(tup_1))
print(type(tup_2))
print(tup_1[0])

for num in tup_2:
    print(num)

#Tuple with one value
tup_3 = 3,
print(type(tup_3))

<class 'tuple'>
<class 'tuple'>
1
1
2
3
<class 'tuple'>

##### sorted()

In [123]:
tup_4 = 20,5,12,3,9,52
sorted_tup = tuple(sorted(tup_4))
print(sorted_tup)

(3, 5, 9, 12, 20, 52)

##### Adding values to a Tuple

In [126]:
print(tup_1)
tup_1 += 5,
print(tup_1)

(1, 2, 3, 5)
(1, 2, 3, 5, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [138]:
# for i in names:
#     if i not in names2:
#         names2.append(i)
# print("The list after removing duplicates: " + str(names2))
#list comprehension

alist = [1,11,14,5,8,9]
print([item for item in alist if item < 10])

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [139]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2
l_3.sort()
print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]